.subs {
    display:grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 5px;
    height:5px;
    cursor: pointer;
}
.container {
    display:grid;
}

.custom-input {
    align-self: end;
}