.videos {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    margin: 20px;
    overflow: auto;
}
.videos::-webkit-scrollbar {
    display: none;
  }
.video-container {
    height: 80vh;
    padding:10px 10px 0 10px;
}
.active {
    opacity: 1 !important;
}
.video {
    opacity: .5;
}
.test {
    overflow-x: hidden;
}